body {
  margin: 0;
  background-color: beige;
}

#clock-container {
  background-image: url(../MYXJ_20220927221914062_save.jpg);
  /* background-image: url(../../../PHOTOS/Pictures/photo-collection/MYXJ_20211122184857345_save.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
  height: 100vh;
  align-content: center;
  /* background-color: aqua; */
}

#clock {
  font-size: 5rem;
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-weight: bold;
  backdrop-filter: blur(5px);
}
